<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./style.css">

		<title>Document</title>
	</head>
	<body>
		<h1 clas="connexion">Connexion</h1>
		<div>{{message}}</div>
		<form action="/login" method="POST">
			<div class="screen">

				<div class="label">
					<label for="email">Mail:</label>
				</div>
				<div class="input">
					<input type="text" id="mail" name="mail" autocomplete="off">
				</div>
				<div class="label-pass">
					<label for="password">Password:</label>
				</div>
				<div class="input">
					<input type="password" id="password" name="password" autocomplete="off">
				</div>

				<div class="button">
					<button type="submit" class="login-submit"><span class="button-text">Se connecter</span></button>
				</div>
                <div class="signIn">
                <a href="/addcompagnie">Inscription</a>
                </div>
			</div>
		</form>

		
	</body>
</html>
