body {
    background-color: #354152;
    color: #ffffff;
    font-family:cursive;
}

h1{
    color: #49B192;
    text-align: center;
    font-size: 3rem;
}

form{
    margin-top: 120px;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.label{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 40px;
}

.ajt{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: #88dfb9b1;
    border: black;
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    }